# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# AWS / credentials
.aws/
*.pem
*.key

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
